<div class="fixedSidebar">
    <div class="aus_user">
        <img class="aus_user_thumb" src='/uploads/<%= user.dp %>' alt="#" onerror="this.src='/images/default.jpg'"/>
        <p class="aus_user_name"><%= user.name%></p>
    </div>

    <ul class="nav aus_nav">
        <li class="active"><a href="#">用户信息</a></li>
        <li class=""><a href="#">账号管理</a></li>
        <li class=""><a href="https://www.g-cores.com/setting/bind">绑定管理</a></li>
        <li class="separation"></li>
        <li class=""><a href="https://www.g-cores.com/setting/articles">我的文章</a></li>
        <li class=""><a href="https://www.g-cores.com/setting/bookmarks">我的收藏</a></li>
        <li class=""><a href="https://www.g-cores.com/inbox">我的私信</a></li>
        <li class=""><a href="https://www.g-cores.com/system_inbox">系统通知</a></li>
        <li class=""><a href="https://www.g-cores.com/setting/notifications">消息提醒</a></li>
        <li>
            <a href="/logout">注销</a>
        </li>
    </ul>
</div>