</article>
<footer class="footer">
    <div class="footer_contact">
        <a href="mailto:haolun@g-cores.com" target="_blank">CONTACT US | 联系我们</a>
    </div>
    <div class="footer_info">
        <img class="footer_top" data-no-retina="" src="https://alioss.g-cores.com/assets/footer_top-4c293a683d2aece39281f2cf7e9bb022c2e55dfbd963d2862d20e3690eea91ae.jpg" alt="">

        <div class="footer_logos">
            <a href="https://www.g-cores.com/categories/13"><img data-no-retina="" src="https://alioss.g-cores.com/assets/footer/gadio-01-e8679bfc838ae676eead7fa354c6ab7e26f3ec7bbf093c58ccaa647ae7701de4.png" alt=""></a>
            <a href="https://www.g-cores.com/categories/12"><img data-no-retina="" src="https://alioss.g-cores.com/assets/footer/gadiopro-01-3bbe85deb999275b31c7658a0e09299751850497bbee7e10cedb6a83ab29de75.png" alt=""></a>
            <a href="https://www.g-cores.com/categories/14"><img data-no-retina="" src="https://alioss.g-cores.com/assets/footer/music-01-a744efa6c6fbba4474e9f2a4b4de64347065eddc7e9ebccc375a7de2e9829f74.png" alt=""></a>
            <a href="https://www.g-cores.com/categories/15"><img data-no-retina="" src="https://alioss.g-cores.com/assets/footer/docu-01-8640c29ee16770157814443d1dbd01ccd5b3cf007b249db6fc6523b295662d2a.png" alt=""></a>
            <a href="https://www.g-cores.com/categories/16"><img data-no-retina="" src="https://alioss.g-cores.com/assets/footer/special-01-69dcd46be43114fa958e1d969bc14297e12b193dd753fb924e07e0beff25dd37.png" alt=""></a>
        </div>

        <div class="footer_follow">
            <h4>Follow us</h4>
            <p>
                <a href="http://weibo.com/gamecore" target="_blank" class="footer_weibo"></a>
                <a href="javascript:;" class="footer_weixin" data-toggle="tooltip" data-placement="top" title="" data-original-title="微信号：gamecores，欢迎订阅"></a>
                <a href="http://shop124260606.taobao.com" target="_blank" class="footer_taobao"></a>
                <a href="http://itunes.apple.com/cn/podcast/id420660752" target="_blank" class="footer_podcast"></a>
                <a href="https://www.g-cores.com/rss" target="_blank" class="footer_rss"></a>
            </p>
        </div>

        <p>
            All Rights Reserved 2009-2015 GAMECORES - Terms &amp; Conditions
            闽ICP备11023385号-1
        </p>
    </div>
</footer>
<a href="javascript:;" class="toTop" id="j_toTop" style="">
    <img src="/images/totop.png" alt="">
</a>
</body>
<script>
    $(".alert_info").slideUp(1000);
    //回到顶部
    var timer  = null;
    j_toTop.onclick = function(){
        cancelAnimationFrame(timer);
        timer = requestAnimationFrame(function fn(){
            var oTop = document.body.scrollTop || document.documentElement.scrollTop;
            if(oTop > 0){
                document.body.scrollTop = document.documentElement.scrollTop = oTop - 100;
                timer = requestAnimationFrame(fn);
            }else{
                cancelAnimationFrame(timer);
            }
        });
    }

</script>

</html>