<%- include header %>
<form method="post" enctype='multipart/form-data'>
  标题：<br />
  <input type="text" name="title" /><br />
  摘要：<br />
  <input type="text" name="sub" /><br />
  正文：<br />
  <textarea name="post" rows="20" cols="100"></textarea><br />
  标签：<br/>
  <select name="tags" id="">
    <option value ="NEWS">News</option>
    <option value="MUSIC">Music</option>
    <option value="GAMES">Game</option>
  </select>
  图片：<br />
  <!--<img src="uploads/<%= user.imgUrl %>" alt="#" onerror="this.src='images/default.jpg'"><br/>-->
  <input type="file" name="photo">
  <input type="submit" value="发表" />
</form>
<%- include footer %>